<div class="md-copyright">
  {% if config.copyright %}
    <div class="md-copyright__highlight">{{ config.copyright }}</div>
  {% endif %}
  <a class="mw-powered" href="https://conflicthq.com" aria-label="Powered by CONFLICT">
    <span>Powered by</span>
    <img class="mw-powered__logo mw-powered__logo--dark" src="{{ 'assets/images/conflict-logo-dark.svg' | url }}" alt="CONFLICT">
    <img class="mw-powered__logo mw-powered__logo--light" src="{{ 'assets/images/conflict-logo-light.svg' | url }}" alt="CONFLICT">
  </a>
</div>
